= image_tag("http://web-bi.herokuapp.com/img/email/black_logo_transparent.png", alt: "Best Inuslation Logo", style: "width: 412px")
%h2
  %strong
    Quote Request from Best Insulation Website
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Client's Name:
  %span
    %strong= @quote.name
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Client's Phone Number:
  %span
    %strong= @quote.number
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Client's Email Address:
  %span
    %strong= @quote.email
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Client's Property Address:
  %span
    %strong= @quote.address
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    City:
  %span
    %strong= @quote.city
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Postal Code:
  %span
    %strong= @quote.postal
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Area Insulation Needed:
  %span
    %strong= @quote.servicearea
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Approximate Sqft:
  %span
    %strong= @quote.sqft
%h3
  %span{style: "font-weight: 500; font-size: 14px"}
    Project Description:
  %span
    %strong= @quote.description
