
= image_tag("http://web-bi.herokuapp.com/img/email/black_logo_transparent.png", alt: "Best Inuslation Logo", style: "width: 404px")
%h1
  %strong Contact Us Request from Website
%h3
  %b Client Name:
%p{:style => "font-size:14px"}= @quote.name
%h3
  %b Client Phone Number:
%p{:style => "font-size:14px"}= @quote.number
%h3
  %b Client Email:
%p{:style => "font-size:14px"}= @quote.email
%h3
  %b Property Address:
%p{:style => "font-size:14px"}= @quote.address
%h3
  %b City:
%p{:style => "font-size:14px"}= @quote.city
%h3
  %b Postal Code:
%p{:style => "font-size:14px"}= @quote.postal
%h3
  %b Service Area:
%p{:style => "font-size:14px"}= @quote.servicearea
%h3
  %b Approximate Sqft:
%p{:style => "font-size:14px"}= @quote.sqft
%h3
  %b Description:
%p{:style => "font-size:14px"}= @quote.description
