/ Callback Section START
.section-block.section-sm.pb-30.pt-0
  .container
    .row
      .col-md-6.col-sm-6.col-12.pt-30
        .section-heading.mb-30
          %h5.bold.mb-0
            Customer Promise
          -# .section-heading-line
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

        .section-heading
          %h5.bold.mb-0
            We Guarantee Our Work
          -# .section-heading-line
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

      .col-md-5.col-sm-6.col-12.pt-10.offset-md-1
        / Callback Block Start
        .contact-form-md.white-background.shadow-light.center-holder
          %h5
            %b
              Request a callback
          -# Rails Form
          = render 'shared/flash'
          #callbackmessage
          = simple_form_for CallBack.new, :html => {:class => 'mt-20', remote: true } do |f|
            .row.pl-10.pr-10
              .col-md-6.col-sm-6.col-12
                = f.input :name, :required => true, :placeholder => "Name *", :label => false
              .col-md-6.col-sm-6.col-12
                = f.input :number, :required => true, :placeholder => "Phone Number *", :label => false
              .col-md-12.col-sm-12.col-12
                = f.input :email, :required => true, :placeholder => "Email *", :label => false
              .col-md-12.col-sm-12.col-12
                .hidden
                  = f.input :nickname, :hint => 'Leave this field blank!'
              .col-md-12.pt-10
                = f.button :submit, 'Send Message', :class=> "button-sm primary-button semi-rounded full-width", :label => false

          -# / Form Start
          -# %form.mt-20
          -#   .row.pl-10.pr-10
          -#     .col-md-6.col-sm-6.col-12
          -#       %input{:name => "name", :placeholder => "* Name", :type => "text"}/
          -#     .col-md-6.col-sm-6.col-12
          -#       %input{:name => "phone", :placeholder => "* Phone Number", :type => "phone"}/
          -#     .col-md-12.col-sm-12.col-12
          -#       %input{:name => "email", :placeholder => "* E-mail", :type => "email"}/
          -#     .col-md-12.pt-10
          -#       %button.button-sm.primary-button.semi-rounded.full-width{:type => "submit"}
          -#         Send Callback Request
          -# / Form End
        / Callback Block End
/ Callback Section END
