/ Callback Section START
.section-callback
  .container
    .row
      .col-md-7.col-sm-6.col-12.pt-20
        .section-heading.mb-5b
          %h6.bold
            Bottega Construction Commitment
        .text-content.mb-15
          %p
            At Bottega Construction we are committed to achieving customer service excellence. We will work hard and go above and beyond for our customers to satisfy your home insulation requirements. We stand firmly behind the workmanship of our crews and we are 100% committed to delivering a reliable, high-quality service to all of our customers.
        .section-heading.mb-5b
          %h6.bold
            Satisfaction Warranty
        .text-content.mb-15
          %p
            100% customer satisfaction is what we seek. We will repair or replace at no cost, if a client has any issues with the service offered or quality of work undertaken by Bottega Construction.
        .section-heading.mb-5b
          %h6.bold
            Product Warranty
        .text-content
          %p
            All products installed by Bottega Construction are warranted by their manufacturer.

      .col-md-5.col-sm-6.col-12
        / Callback Block Start
        -# .contact-form-md.white-background.shadow-light.center-holder
        -#   %h5
        -#     %b
        -#       Request a callback
        = simple_form_for CallBack.new, :html => {:class => 'contact-form-md white-background shadow-light center-holder', remote: true } do |f|
          %h5
            %b
              Request a callback
          .mt-20
          #callbackmessage
          .row.pl-10.pr-10
            .col-md-6.col-sm-6.col-12
              = f.input :name, :required => true, :placeholder => "Name *", :label => false
            .col-md-6.col-sm-6.col-12
              = f.input :number, :required => true, :placeholder => "Phone Number *", :label => false
            .col-md-12.col-sm-12.col-12
              = f.input :email, :required => true, :placeholder => "Email *", :label => false
            .col-md-12.col-sm-12.col-12
              .hidden
                = f.input :nickname, :hint => 'Leave this field blank!'
            .col-md-12.pt-10
              = f.button :submit, 'Request A Callback', :class=> "button-sm primary-button semi-rounded full-width", :label => false, style: "font-size:13.5px; font-weight: 900; letter-spacing: -0.3px;"

          -# / Form Start
          -# %form.mt-20
          -#   .row.pl-10.pr-10
          -#     .col-md-6.col-sm-6.col-12
          -#       %input{:name => "name", :placeholder => "* Name", :type => "text"}/
          -#     .col-md-6.col-sm-6.col-12
          -#       %input{:name => "phone", :placeholder => "* Phone Number", :type => "phone"}/
          -#     .col-md-12.col-sm-12.col-12
          -#       %input{:name => "email", :placeholder => "* E-mail", :type => "email"}/
          -#     .col-md-12.pt-10
          -#       %button.button-sm.primary-button.semi-rounded.full-width{:type => "submit"}
          -#         Send Callback Request
          / Form End
        / Callback Block End
/ Callback Section END
