
/ Navbar START
%header
  %nav#navigation1.container.navigation
    .nav-header
      %a.nav-brand{href: "/"}
        %img#main_logo{:alt => "logo", :src => "/img/logos/logo.svg", style:"width:230px; margin-bottom:-23px"}/
      .nav-toggle
    .nav-menus-wrapper
      %ul.nav-menu.align-to-right
        %li
          = link_to "Home", home_index_path
        %li
          = link_to "About Us", about_index_path
          %ul.nav-dropdown
            %li
              = link_to "Who Are We?", who_are_we_about_index_path
            %li
              = link_to "Customer Promise", customer_promise_about_index_path
            %li
              = link_to "Sustainability", sustainability_about_index_path
            %li
              = link_to "Affiliations", affiliations_about_index_path
            %li
              = link_to "Partners", partners_about_index_path
            %li
              = link_to "Testimonials", testimonials_about_index_path
            %li
              = link_to "Blog", blog_about_index_path
            %li
              = link_to "FAQ's", faqs_about_index_path
        %li
          = link_to "Spray Foam", spray_foam_index_path
          %ul.nav-dropdown
            %li
              = link_to "Why Spray Foam?", why_spray_foam_spray_foam_index_path
            %li
              = link_to "Health & Safety", health_and_safety_spray_foam_index_path
            %li
              = link_to "Moisture Control", moisture_control_spray_foam_index_path
            %li
              = link_to "Energuide Ratings", energuide_ratings_spray_foam_index_path
            %li
              = link_to "Open or Closed Cell", open_or_closed_cell_spray_foam_index_path
            %li
              = link_to "Home Insulation Guide", home_insulation_guide_spray_foam_index_path
            %li
              = link_to "Spray Foam vs Traditional", spray_foam_vs_traditional_spray_foam_index_path
            %li
              = link_to "Energy Efficiency & Savings", energy_efficiency_and_savings_spray_foam_index_path
        %li
          = link_to "Services", services_path
          %ul.nav-dropdown
            %li
              = link_to "Spray Foam Insulation", spray_foam_insulation_services_path
            %li
              = link_to "Ceiling & Attic Insulation", ceiling_and_attic_insulation_services_path
            %li
              = link_to "Walls Insulation", walls_insulation_services_path
            %li
              = link_to "Basement Insulation", basement_insulation_services_path
        %li
          = link_to "Reviews", reviews_path
        %li
          = link_to "Gallery", gallery_index_path
        %li
          = link_to "Contact Us", contact_us_home_index_path
        %li
          -# %a{:href => "request-a-quote"} Request A Quote
          = render 'shared/quote'
