
/ Page Title START
.page-title.jarallax.black-overlay-50{"data-jarallax" => "", "data-speed" => "0.6", :style => "background-image: url('/img/contact/banner-3.jpg');"}
  .container
    %h1 Contact Us
/ Form Section START
.section-block-grey.mb-30.pt-60
  .container
    .row
      .col-md-10.col-sm-12.col-12.offset-md-1
        -# - flash.each do |key, value|
        -#   %div{class: key}
        -#     .alert.alert-secondary.alert-dismissible
        -#       %button.close{"data-dismiss" => "alert", :type => "button"} ×
        -#       %strong
        -#         = value

            -# %a{"data-dismiss" => "alert", :href => "#"} ×
            -# .alert
            -#   = value
        .section-heading.center-holder
          %h3.bold.mb-0
            Don't worry, Best
            %span.primary-color
              Insulation
            can help
          %p
            The team at Best Insulation is ready to take on any project. No project is too small or too big for us!


      -# .col-md-3.col-sm-12.col-12.mt-30
      -#   .contact-box-place-office
      -#     %h4
      -#       ALI MOGHEI
      -#     %h6
      -#       Business Developer
      -#     .section-heading.left-holder.mt-20
      -#       %ul
      -#         %li
      -#           %i.fas.fa-phone
      -#           %a{:href => "tel:1-647-829-9797"}
      -#             +1(647) 829-9797
      -#         %li
      -#           %i.fas.fa-envelope-open
      -#           %a{:href => "mailto:ali@bestinsulation.ca?Subject=Website-%20Services%20Inquiry", :target => "_top"}
      -#             ali@bestinsulation.ca
      -#         %li
      -#           %i.fas.fa-globe
      -#           %a{:href => "http://www.bestinsulation.ca/"}
      -#             www.bestinsulation.ca
      -#         %li{:style => "font-weight:500"}
      -#           %i.fas.fa-building
      -#           9040 Leslie St #201
      -#           %br
      -#           %span.pl-30
      -#           Richmond Hill, ON
      -#           %br
      -#           %span.pl-30
      -#           L4B 3L8 Canada
      .col-md-4.col-sm-12.col-12.mt-30
        .contact-box-place-office.text-center
          %h4
            MO SHAHRI
          %h6
            Project Manager
          .section-heading.left-holder.mt-20
            %ul.text-center
              %li
                %i.fas.fa-phone
                %a{:href => "tel:1-416-319-1212"}
                  +1(416) 319-1212
              %li
                %i.fas.fa-envelope-open
                %a{:href => "mailto:mo@chicasadesign.com?Subject=Website-%20Services%20Inquiry", :target => "_top"}
                  mo.shahri@yahoo.ca
              %li
                %i.fas.fa-globe
                %a{:href => "http://www.bestinsulation.ca/"}
                  www.bestinsulation.ca
              %li{:style => "font-weight:500"}
                %i.fas.fa-building
                9040 Leslie St #201
                %br
                %span.pl-30
                Richmond Hill, ON
                %br
                %span.pl-30
                L4B 3L8 Canada

      .col-md-8.col-sm-12.col-12
        -# = render 'shared/flash'
        #contactusmessage
        = simple_form_for @contact, :html => {:class => 'primary-form mt-30', remote: true } do |f|
          .row
            .col-md-12.col-sm-12.col-12
              = f.input :name, :required => true, :placeholder => "Name *", :label => false
            .col-md-6.col-sm-6.col-12
              = f.input :number, :required => true, :placeholder => "Phone Number *", :label => false
            .col-md-6.col-sm-6.col-12
              = f.input :email, :required => true, :placeholder => "Email *", :label => false
            .col-md-12.col-sm-12.col-12
              = f.input :subject, :required => true, :placeholder => "Subject *", :label => false
            .col-md-12
              = f.input :message, :as => :text, :required => true, :placeholder => "Message *", :label => false
            .col-md-12
              .hidden
                = f.input :nickname, :hint => 'Leave this field blank!'
            .col-md-12
              = f.button :submit, 'Send Message', :class=> "button-sm primary-button semi-rounded full-width", :label => false, style: "font-size:13.5px; font-weight: 900; letter-spacing: -0.3px"

        -# %form.primary-form.mt-30
        -#   .row
        -#     .col-md-12.col-sm-12.col-12
        -#       %input{:name => "name", :placeholder => "Name *", :type => "text"}/
        -#     .col-md-6.col-sm-6.col-12
        -#       %input{:name => "phone", :placeholder => "Phone Number *", :type => "phone"}/
        -#     .col-md-6.col-sm-6.col-12
        -#       %input{:name => "email", :placeholder => "E-mail *", :type => "email"}/
        -#     .col-md-12.col-sm-12.col-12
        -#       %input{:name => "subject", :placeholder => "Subject", :type => "message"}/
        -#     .col-md-12
        -#       %textarea{:name => "message", :placeholder => "Message *"}
        -#     .col-md-12
        -#       %button.button-sm.primary-button.semi-rounded.full-width{:type => "submit"} Send Message
        / Form End

/ Form Section END
