%p
= image_tag("http://www.chicasadesign.com/images/logo/logoblack.png", alt: "Best Insulation Logo", style: "width: 448px;")
%h2
  %strong Contact us request from Chicasa Design Website
%h2
  %b Name
%p{:style => "font-size:14px; font-weight: 600"}= @contact.name
%h2
  %b Email
%p{:style => "font-size:14px; font-weight: 600"}= @contact.email
%h2
  %b Message
%p{:style => "font-size:14px; font-weight: 600"}= @contact.message





%div{:align => "center"}
  %h3 Send A message to Us
  = simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f|
    = f.input :name, :required => true
    = f.input :number, :required => true
    = f.input :email, :required => true
    = f.input :subject, :required => true
    = f.input :message, :as => :text, :required => true
    .hidden
      = f.input :nickname, :hint => 'Leave this field blank!'
    %div
      = f.button :submit, 'Send message', :class=> "btn btn-primary"
