= image_tag("http://web-bi.herokuapp.com/img/email/black_logo_transparent.png", alt: "Best Inuslation Logo", style: "width: 446px")
%h2{style: "color: #000000"}
  %strong
    Contact Us Request from Best Insulation Website
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Name:
  %span{style: "color: #000000"}
    %strong= @contact.name
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Phone Number:
  %span{style: "color: #000000"}
    %strong= @contact.number
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Email Address:
  %span{style: "color: #000000"}
    %strong= @contact.email
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Subject:
  %span{style: "color: #000000"}
    %strong= @contact.subject
%h3
  %span{style: "font-weight: 500; font-size: 14px; color: #000000"}
    Client's Message:
  %span{style: "color: #000000"}
    %strong= @contact.message
