%p
  = image_tag("http://web-ebt.herokuapp.com/assets/img/logo/logo.png", alt: "logo", style: "width: 368px;")
%h2
  %strong Contact us request from Equity Website
%h3
  %b Name
%p{:style => "font-size:14px"}= @contact.name
%h3
  %b Phone Number
%p{:style => "font-size:14px"}= @contact.number
%h3
  %b Email
%p{:style => "font-size:14px"}= @contact.email
%h3
  %b Subject
%p{:style => "font-size:14px"}= @contact.subject
%h3
  %b Message
%p{:style => "font-size:14px"}= @contact.message
