
= image_tag("http://web-bi.herokuapp.com/img/email/black_logo_transparent.png", alt: "Best Inuslation Logo", style: "width: 404px")
%h1
  %strong Contact Us Request from Website
%h3
  %b Client's Name:
%p{:style => "font-size:14px"}= @contact.name
%h3
  %b Client's Phone Number:
%p{:style => "font-size:14px"}= @contact.number
%h3
  %b Client's Email Address:
%p{:style => "font-size:14px"}= @contact.email
%h3
  %b Subject:
%p{:style => "font-size:14px"}= @contact.subject
%h3
  %b Message:
%p{:style => "font-size:14px"}= @contact.message
