!!!
%html
  %head
    = render 'shared/head'
  %body
    -# = render 'shared/topbar'
    = render 'shared/header'
    = yield
    = render 'shared/servicemap'
    = render 'shared/callback'
    = render 'shared/logoslider'
    = render 'shared/quote'
    = render 'shared/footer'
    = render 'shared/mobfooter'
